@{
    ViewBag.Title = "Error";
}
<h2>@ViewBag.TitleError.</h2>
<h3>@ViewBag.Message</h3>

@section Scripts {
    <script>
        var viewModel = new ViewModel();
        function ViewModel() {
            var self = this;
            self.loadingData = ko.observable(false);
        }
        ko.applyBindings(viewModel);
    </script>
}