

@{
    ViewBag.Title = "Init";
}
<div class="container">
    <p>
        We are currently unable to process your request, thank you
    </p>
    <span class="fa fa-wifi"></span>
</div>
@section Scripts {
    <script>
        var viewModel = new ViewModel();
        function ViewModel() {
            var self = this;
            self.loadingData = ko.observable(false);
        }
        ko.applyBindings(viewModel);
    </script>
}
